(function(angular) {
    angular.module('{{moduleName}}')
        .run(function($templateCache) {
            {{#templates}}
            $templateCache.put('{{{url}}}', '{{{content}}}');
            {{/templates}}
        });
}(angular));
