(function(angular) {
    angular.module({{moduleName}})
        .run(['$templateCache', function($templateCache) {
            {{#templates}}
            $templateCache.put('{{{url}}}', '{{{content}}}');
            {{/templates}}
        }]);
}(angular));
