@import '../libs/test.css';

.home-banner {
    position: relative;
    border-bottom: 1px solid #F3F3F3;
    background-repeat: no-repeat;
    background-position: 25% center;
    background-size: cover;
    width: 100%;
}

.home-banner-mobile{
    border-bottom: 1px solid #F3F3F3;
    background-repeat: no-repeat;
    background-position: 25% center;
    background-size: cover;
    width: 100%;
    min-height: 250px
}

.arrow-up{
    &:before{
        top:-15px;
        content:"";
        border-style: solid;
        border-width: 0px 15px 15px 15px;
        border-color: transparent transparent #ffffff transparent;
        position: absolute;
        left: 15px;
    }
}

.bg-color-wrap{
    background-color: #fffdf7;
}
.bg-color-wrap-mobile{
}

.recipe-details-wrapper {
    padding-bottom: 20px;

    .name {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .prep-time {
        margin-right: 0.5rem;
    }
    .fa-clock-o {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1.5rem;
        vertical-align: middle;
    }
}
.recipe-ingredients-wrapper {
}
.recipe-ingredients {
    position: relative;

    h4 {
        color: transparent;
    }

    &:before {
        position: absolute;
        top: -1em;
        right: 70px;
        display: inline-block;
        border-right: 1em solid transparent;
        border-bottom: 1em solid;
        border-left: 1em solid transparent;
        content: '';
    }

    .close {
        font-size: 2.5rem;
        opacity: 0.5;
        font-weight: normal;
    }
}
